#jobs
  .job
    %h2= @job.title
    %p= @job.description
    %p= @job.company
    %button.btn.btn-default= link_to "Apply for Job", @job.url

#links
  = link_to 'Home', root_path, class: "btn btn-small btn-default"
  = link_to 'Edit', edit_job_path, class: "btn btn-small btn-default"
  = link_to 'Delete', job_path, method: :delete, data: { confirm: "Are you sure" }, class: "btn btn-small btn-default"